/* :root {
    --text-color:red      ;
} */


/* h1{
    font-size: 40px;
    color: var(--text-color);
} */


li{
    font-size: 25px;
    --my-color: rgb(0, 128, 79) ;
    color: var(--my-color);
}


p{
    font-size: 18px;
}


.box{
    background-color: pink;    
    width: 100vw;
    height: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;

}

html,body{
    margin: 0;
}

a:link{ text-decoration: none;}
a{
    color: darkcyan ;
}
a:hover{ color: deepskyblue;}

